<h>Article</h>
<p>
<%= link_to "nowy artykul", new_article_path %>
</p>

<table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <% @article.each do |article| %>
        <tr>
            <td>    <%=link_to article.title, article_path(article) %> </td>
            <td> <%= link_to 'edit', edit_article_path(article) %> </td>
            <td> <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
        </tr>
        <% end %>
    </tbody>
</table>

